# Specify Python version (Streamlit Cloud might not directly respect this, but it's helpful for clarity)
python_version==3.10

# Streamlit version for UI
streamlit==1.21.0

# Ultralytics for YOLO
ultralytics==8.0.67

# OpenCV headless version for server environments (doesn't require GUI support)
opencv-python-headless==4.7.0.72

# Compatible numpy version
numpy==1.24.2

# PyTorch version (ensure compatibility with your Python version)
torch==2.2.0

# Other dependencies
setuptools>=65.0.0
pip>=24.3.1
